.calva/
.clj-kondo/
.lsp/
.DS_Store
/target
/classes
/checkouts
/out
pom.xml
pom.xml.asc
pom.xml.sig
*.jar
*.class
.lein-*
.nrepl-port
/*.project
/*.classpath
/.settings/
*.iml
*.ipr
*.iws
.idea
profiles.clj
.crush/

